* {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #212121;
  position: fixed;
  z-index: 1;
}

header {
  position: relative;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu-link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu-item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu-item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}

.xs-visible {
  display: none;
}

.logo {
  margin-top: 16px;
  min-width: 100%;
}

.logo-txt {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
}

.call-us {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}

.number {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 8px;
  text-align: right;
  line-height: 22px;
}

.call-us-btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.call-us-btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  padding: 200px 0 131px 0;
  background: url("../img/bg/bg-1st.png") center center/cover no-repeat;
}

.promo-header {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo-subheader {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-top: 22px;
}

.promo-txt {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo-btn {
  display: block;
  margin: 118px auto 0;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-right: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.promo-btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.advant {
  padding: 71px 0 65px 0;
  min-height: 764px;
}

.advant-top {
  margin: 0 auto;
  width: 130px;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
}

.advant-header {
  margin-top: 38px;
  margin-bottom: 5px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
}

.advant-card {
  margin-top: 35px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.icon-bg {
  margin-right: 26px;
  min-width: 113px;
  min-height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.advant-icon {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.advant-txt {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.advant-card span {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.mobile {
  min-height: 825px;
  padding: 48px 0 81px;
  background: url("../img/bg/mob_bg.png") center center/cover no-repeat;
}
.mobile .advant-subheader {
  font-size: 17px;
  text-align: center;
  color: black;
  margin-top: 15px;
}
.mobile-item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 25px auto 0;
  padding-top: 92px;
}
.mobile-item-1 {
  background: url("../img/mob1.png") center center/cover no-repeat;
}
.mobile-item-2 {
  background: url("../img/mob2.png") center center/cover no-repeat;
}
.mobile-item-3 {
  background: url("../img/mob3.png") center center/cover no-repeat;
}
.mobile-item-4 {
  background: url("../img/mob6.png") center center/cover no-repeat;
}
.mobile-item-5 {
  background: url("../img/mob5.png") center center/cover no-repeat;
}
.mobile-item-6 {
  background: url("../img/mob6.png") center center/cover no-repeat;
}
.mobile-item-subtitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.mobile-item-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 6px;
  background-color: black;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.mobile-item-plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
}
.mobile-item-plus:after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
  transform: translateX(-40%);
}
.mobile-item-plus:hover:before, .mobile-item-plus:hover:after {
  background-color: purple;
}

.choice {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 53px;
  min-height: 500px;
  background-color: black;
}
.choice .advant-top {
  background-color: #ffffff;
  color: #000000;
}
.choice .advant-header {
  margin-top: 25px;
  color: #ffffff;
}
.choice .advant-subheader {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
}
.choice .car-img {
  position: absolute;
  display: block;
  margin-top: 54px;
  left: 50%;
  transform: translateX(-50%);
}
.choice-xs-hidden {
  display: none;
}

.choice-bg {
  min-height: 400px;
  padding: 230px 0 142px;
  font-weight: 400;
  font-size: 17px;
  color: #222222;
  background: url("../img/bg/mob_bg.png") center center/cover no-repeat;
  text-align: center;
  line-height: 24px;
}

.require {
  padding: 68px 0 51px 0;
}
.require-con-top, .require .require-con-bot {
  margin: 33px 0;
}
.require-con-top .require-title, .require .require-con-bot .require-title {
  color: #1CA8C3;
  font-size: 22px;
  font-weight: 400;
}
.require-con-top .require-subtitle, .require .require-con-bot .require-subtitle {
  color: #1CA8C3;
  font-size: 19px;
  font-weight: 300;
}
.require-con-top .require-list, .require .require-con-bot .require-list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require-con-top .require-list li, .require .require-con-bot .require-list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require-con-top .require-list li:before, .require .require-con-bot .require-list li:before {
  content: "";
  position: absolute;
  left: -32px;
  top: 4px;
  display: block;
  width: 21px;
  height: 20px;
  background: url("../img/icon/Blue_ok.png") center center/cover no-repeat;
}

.require-con-bot .require-title {
  color: #FF5656 !important;
}
.require-con-bot li:before {
  background: url("../img/icon/Red_ok.png") center center/cover no-repeat !important;
}

.city {
  position: relative;
  padding: 47px 0 50px;
  min-height: 720px;
  background: url("../img/bg/world.png") center center/cover no-repeat;
}
.city .advant-top {
  background-color: #ffffff;
  color: #000000;
}
.city .advant-header {
  margin-top: 25px;
  color: #ffffff;
}
.city .advant-subheader {
  margin-top: 10px;
  color: #ffffff;
  text-align: center;
}
.city-link {
  position: absolute;
  font-size: 15px;
  color: #1FBAD6;
  text-transform: uppercase;
  font-weight: 400;
  top: 629.5px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none !important;
}
.city-link:hover {
  color: #1FBAD6;
}

.footer {
  padding: 11px 24px 28px;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper {
  display: flex;
}
.footer .wrapper:first-child {
  width: 30%;
}
.footer .wrapper:nth-child(2) {
  width: 40%;
}
.footer .wrapper:nth-child(3) {
  width: 30%;
}
.footer-social {
  align-self: center;
  display: flex;
}
.footer-social-lnk {
  text-decoration: none !important;
}
.footer-social span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 100%;
  margin-right: 6px;
  color: white;
}
.footer-stores {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}
.footer-stores-img {
  margin-left: 6px;
}
.footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer-links:before {
  content: "";
  position: absolute;
  width: 301px;
  height: 7px;
  background: #1FBAD6;
}
.footer-links-1line {
  text-align: center;
  padding-top: 20px;
}
.footer-links-1line-link {
  font-weight: 300;
  font-size: 18px;
  color: #070716;
  padding: 0 20px;
}
.footer-links-1line-link:hover {
  text-decoration: none;
  color: #070716;
}
.footer-links-2line {
  text-align: center;
  padding-top: 15px;
}
.footer-links-2line-link {
  font-weight: 300;
  font-size: 14px;
  color: #070716;
  padding: 0 6px;
}
.footer-links-2line-link:hover {
  text-decoration: none;
  color: #070716;
}
.footer-links-lang {
  padding-top: 15px;
}
.footer-links-lang-link {
  font-weight: 300;
  font-size: 15px;
  color: #1FBAD6;
}
.footer-links-lang-link:hover {
  text-decoration: none;
  color: #1FBAD6;
}

span.icon-linkedin {
  margin-right: 0;
}

@media (max-width: 1200px) {
  .menu-item {
    padding-right: 20px;
  }
  .menu-link {
    font-size: 13px;
  }

  .promo-header {
    font-size: 50px;
  }

  .choice {
    min-height: 500px;
  }

  .footer-stores {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }
  .footer-links-1line-link {
    font-size: 16px;
    padding: 0 12px;
  }
  .footer-links-2line-link {
    font-size: 12px;
    padding: 0 4px;
  }
}
@media (max-width: 991px) {
  .menu-item {
    padding-right: 9px;
  }
  .menu-link {
    font-size: 10px;
  }

  .logo-img {
    width: 100%;
  }
  .logo-txt {
    font-size: 11px;
  }

  .number {
    font-size: 18px;
  }

  .promo {
    padding-bottom: 60px;
  }
  .promo-header {
    font-size: 40px;
  }
  .promo-subheader {
    font-size: 30px;
  }
  .promo-btn {
    margin-top: 60px;
  }

  .call-us-btn {
    width: 100%;
    height: 41px;
    margin-top: 21px;
    font-size: 13px;
  }

  .advant-card {
    flex-direction: column;
  }

  .icon-bg {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .choice {
    min-height: 450px;
  }

  .choice-bg {
    min-height: 260px;
    padding-top: 160px;
    padding-bottom: 60px;
  }

  .car-img {
    width: 600px;
  }

  .city {
    min-height: 450px;
  }
  .city-link {
    top: 85%;
  }

  .footer-links-1line-link {
    font-size: 14px;
    padding: 0 10px;
  }
}
@media (max-width: 766px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s left;
  }
  .menu_active {
    left: 0;
  }
  .menu-item {
    padding-right: 0;
    border: none;
    margin: 10px 0;
  }
  .menu-link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 15px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 3px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:first-child {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .call-us-btn {
    display: block;
    margin: 5px auto 0;
    width: 220px;
    height: 35px;
  }

  .promo-header {
    line-height: 45px;
  }

  .car-img {
    width: 500px;
  }

  .choice {
    min-height: 415px;
  }

  .footer-links:before {
    width: 190px;
  }
}
@media (max-width: 575px) {
  nav {
    height: 30px;
  }

  .logo-txt {
    display: none;
  }

  .subheader {
    height: 60px;
    margin-top: 30px;
  }

  .xs-visible {
    display: block;
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .call-us-btn {
    display: block;
    margin: 5px auto 0;
    width: 110px;
    height: 22px;
    font-size: 10px;
  }

  .promo {
    min-height: 400px;
    padding: 150px 0 35px 0;
  }
  .promo-txt {
    display: none;
  }
  .promo-header {
    font-size: 30px;
    padding: 0 24px;
    line-height: 35px;
  }
  .promo-subheader {
    font-size: 20px;
    margin-top: 33px;
    padding: 0 10px;
    line-height: 30px;
  }
  .promo-btn {
    width: 210px;
    height: 50px;
    margin-top: 72px;
  }
  .promo-btn:hover {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }

  .menu {
    width: 85%;
  }
  .menu-item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu-link {
    font-size: 17px;
    display: block;
    width: 100%;
  }
  .menu-link:hover {
    text-decoration: none;
    color: white;
  }

  .call-us-btn:hover {
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  }

  .advant {
    padding: 22px 0 36px 0;
  }

  .advant-header {
    font-size: 14px;
    margin-top: 16px;
    line-height: 14px;
  }

  .icon-bg {
    width: 100px;
    height: 100px;
  }

  .advant-card span {
    font-size: 16px;
  }

  .mobile {
    padding: 30px 0 30px;
  }
  .mobile-item {
    padding-top: 40px;
    width: 240px;
    height: 200px;
  }
  .mobile-item-subtitle {
    font-size: 18px;
  }

  .choice {
    padding: 30px 0 30px;
    min-height: 340px;
  }
  .choice .advant-header {
    display: none;
  }
  .choice .advant-subheader {
    display: none;
  }
  .choice-xs-hidden {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 20px 15px 0;
  }
  .choice .car-img {
    position: relative;
    width: 250px;
  }
  .choice .header-wrap {
    height: 100%;
  }

  .choice-bg {
    display: none;
  }

  .require {
    padding: 30px 0 0;
  }
  .require .require-con-top, .require .require-con-bot {
    margin: 20px 0;
  }
  .require .require-con-top .require-title, .require .require-con-bot .require-title {
    font-size: 16px;
  }
  .require .require-con-top .require-subtitle, .require .require-con-bot .require-subtitle {
    font-size: 14px;
  }
  .require .require-con-top .require-list, .require .require-con-bot .require-list {
    padding-left: 33px;
    margin-top: 13px;
  }
  .require .require-con-top .require-list li, .require .require-con-bot .require-list li {
    font-size: 12px;
  }

  .city {
    min-height: 335px;
    padding: 23px 0 0;
  }
  .city .advant-subheader {
    font-size: 12px;
  }
  .city-link {
    font-size: 10px;
  }

  .footer {
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
  }
  .footer .wrapper:nth-child(1) {
    width: 100%;
    align-items: center;
  }
  .footer .wrapper:nth-child(2) {
    width: 100%;
    order: -1;
  }
  .footer .wrapper:nth-child(3) {
    width: 100%;
  }
  .footer-stores {
    flex-direction: row;
    justify-content: center;
  }
  .footer-stores-img {
    width: 75px;
  }
  .footer-links:before {
    width: 220px;
    height: 5px;
  }
  .footer-links-1line-link {
    font-size: 14px;
    font-weight: 300;
    padding: 0 5px;
  }
  .footer-links-2line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 8px;
    margin-top: 10px;
  }
  .footer-links-2line-link {
    font-size: 11px;
    font-weight: 300;
    padding: 0 8px;
    line-height: 20px;
  }
  .footer-links-lang-link {
    font-size: 11px;
  }
  .footer-social {
    margin: 20px auto;
  }
  .footer-social-lnk {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
